# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Eclipse
.metadata/
.settings/
Debug/
Release/
.cproject
.project

# Visual Studio
*.vcxproj
*.vcxproj.user
*.filters
*.opensdf
*.sdf
*.sln
*.suo

# Test files
main.cc
mian.cpp
test.cc
test.cpp
